

html, body, #app{
	width: 100%;
	height: 100%;
	touch-action: none;
	position: relative
}
#app .allpage{
	width:100%;
	height:100%;
	position: relative;
	display: flex;
	 flex-direction: column; 
}
.header{
	width:100%;
	height:50px;
	background: #282828;
	color:#999;
	line-height: 50px;
	border-bottom: 1px solid #000;
	position: relative;
	box-sizing: border-box;
	
}
.header .menu{
	display: block;
	width:50px;
	height:50px;
	border-right:1px solid #666;
	text-align: center;
	font-size: 14px;
}
.header .cont{
	overflow: hidden;
	height:100%;
	width:86%;
	position: relative;
	left:51px;
	top:-50px;
}
.header h2{
	position: absolute;
	left: 0px;
	top:0;
	font-size: 14px;
	color:#fff;
	padding-left: 10px;
}
.header .city{
	color:#666;
	position: absolute;
	right: 51px;
	top:0;
	font-size: 14px;
	padding-left: 10px;
}
.header .city i{
	display: inline-block;
	margin:0 5px;
	transform: scale(0.8);
	font-weight: 900;
}
.header .me{
	display: block;
	width:50px;
	height:50px;
	border-right:1px solid #000;
	text-align: center;
	font-size: 16px;
	color:#ccc;
	position: absolute;
	right:0;
	top:0;
}
.cover{
	width:100%;
	position: absolute;
	top:50px;
	left: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0,0,0,0.5);
	transition:all 0.4s;
}
.leftbar{
	width:265px;
	position: absolute;
	left: 0;
	top:50px;
	bottom: 0;
	background: #282828;
	border-top:1px solid #666;
	z-index: 100;
	transition:all 1s;
}
.leftbar a{
	display: block;
	color:#fff;
	width:100%;
	height:50px;
	border-bottom: 1px solid #666;
	padding: 0 16px;
	box-sizing: border-box;
	line-height:50px;
	font-size: 14px;
	color:#888;
}
.leftbar a span{
	font-size: 18px;
	display: block;
	float: right;
	transform:rotate(-90deg);
}
.page{
	width:100%;
	flex:1;
	overflow: hidden;
}
.page  .top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.7);
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    z-index: 500;
    transition:all 1s;
}

.page  .top i{
    display: block;
    margin: 0 auto;
    width:20px;
    height:3px;
    background: #fff;
    margin-top:12px;
}
.page  .top span{
    display: block;
    width:25px;
    height:25px;
    font-size: 24px;
    color:#fff;
    line-height: 25px;
    margin:0 auto;
}
.page .pages{
	width:100%;
	background: #fff;
	/* overflow: auto; */
}
.pages .load{
    width:100%;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    color: #333;
    border-top:1px solid #999;
}
.pages .load span{
    display: block;
    width: 160px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 10px auto;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #616161;
    z-index: 100;
    background: #fff;
}

.example-appear {
  transform: translateY(-100%)
}

.example-appear.example-appear-active {
  transform: translateY(0%);  
  transition: 0.5s;
}



